<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signin.css">
    <title>
        Student Sign In
    </title>
</head>
<body>
    <div class="container">
        <form action="/studentSignin" method="POST">
        <div class="main">
            <h1>Sign in - Student</h1>
        </div>

        <div class="faculty_login">
            <input type="email" id="useremail" name="useremail" placeholder="student email">
        </div>

        <div class="student_login">
            <input type="text" id="password" name="password" placeholder="Password">
        </div>

        <button type= "submit" class="log_in">Log in</button>        

        <div class="line">
            <hr width="90%">
        </div>
    <button type = "button" class = "sign_up_as_student"><a href="/studentSignup">Sign Up as Student</a></button>
        </div>
    </form>
</body>
</html>